*{
        padding: 0;
        margin: 0;
        color: white;
}
.god-container {
        background-repeat: no-repeat;
        background-position: cover;
        height: auto;
        padding: 30px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('https://assets.nflxext.com/ffe/siteui/vlv3/8200f588-2e93-4c95-8eab-ebba17821657/web/IN-en-20250616-TRIFECTA-perspective_9cbc87b2-d9bb-4fa8-9f8f-a4fe8fc72545_large.jpg');
}
.main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.navlinks {
        display: flex;
        align-items: center;    
        justify-content: flex-end;
        gap: 15px;
}
.navbar-left img{
        height: 40px;
}
.navlinks button {
        width: 100px;
}
#language {
        padding: 7px;
        width: 140px;
        background: rgba(0, 0, 0, 0.6);
        color: white;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 3px;
        text-align: center;
}
.hero {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
}

.hero .info {
        text-align: center;
        margin-top: 20px;
}

.hero .info p {
        font-size: 20px;
}
.info h2 {
        font-size: 3.5rem;
        font-weight: 800;
        text-align: center;
}

.signup {
        display: flex;
        flex-direction: row;
        margin-bottom: 70px;
}

.signup input[type="email"] {
        height: 60px;
        width: 520px;
        background: rgba(0, 0, 0, 0.6);
}

.signup button {
        width: 220px;
        font-size: 20px;
}

.signup input::placeholder {
        color: white;
}

@media (max-width: 428px) {
        .god-container {
                padding: 20px;
        }
        
        .navlinks {

                gap: 5px;
        }
        
        .hero {
                margin-top: 50px;
                text-align: center;
        }
        
        .info h2 {
                font-size: 2.5rem;
        }
        
        .signup {
                display: flex;
                flex-direction: column;
        }

        .signup input[type="email"] {
                width: 300px;
        }

        .signup button {
                width: 150px;
                height: 60px;
        }

        .hero .info p{
                font-size: 16px;
        }

        .navlinks button {
                width: 80px;
        }

        #language {
                width: 100px;
        }

}